SIIGO_USERNAME=tu_correo@dominio.com
SIIGO_ACCESS_KEY=tu_access_key_de_siigo
SIIGO_BASE_URL=https://api.siigo.com
SIIGO_PARTNER_ID=NombreDelPartner

TELEGRAM_BOT_TOKEN=el_token_de_BotFather
GEMINI_API_KEY=tu_api_key_de_aistudio_google

ADMIN_TELEGRAM_CHAT_ID=
SIIGO_INVOICE_TEST_MODE=true
SIIGO_TEST_CUSTOMER_ID=
DEFAULT_INVOICE_DOC_ID=13214
DEFAULT_PURCHASE_DOC_ID=27394
DEFAULT_SELLER_ID=341
DEFAULT_IVA_TAX_ID=7108
DEFAULT_PAYMENT_ID=3043

IMAP_HOST=imap.gmail.com
IMAP_PORT=993
IMAP_USER=tu_correo@gmail.com
IMAP_APP_PASSWORD=la_app_password_de_16_caracteres
IMAP_FOLDER=INBOX
IMAP_PROCESSED_LABEL=Kimo-Procesado
